
body{
    background-color: #eff1f9;
    margin:0;
    font-family: 'Nunito', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1604134967494-8a9ed3adea0d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;

}
.container{
   
}

.login-form, .register-form {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    align-items: center;
    min-height: 100vh;
}

h3.login__title, h3.register__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: blue;
}
label {
    font-weight: normal;
    margin: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-style {
    height: 50px;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 25px;
    -webkit-appearance: none;
}
.login_text_field_bg {
    background-color: rgba(71, 90, 171, 0.07);
}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}